<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>__vungle.db</key>
<string>2ca5445a62130e12c03a00af54264f0a</string>
<key>AppliftAds.nib/objects-8.0+.nib</key>
<string>9c2fa3ad15e9ce80911feccc7f39f9b2</string>
<key>AppliftAds.nib/runtime.nib</key>
<string>503ffe6c6ee0a510f851898a9aebf377</string>
<key>AppliftAds_template.html</key>
<string>7e8dc6bd416ad44673622a1bef08e6f6</string>
<key>PlayAds.bundle/AL_AppStore.png</key>
<string>65c08723f20ef8f902b2a2f341ccf231</string>
<key>PlayAds.bundle/AL_AppStore@2x.png</key>
<string>7b4f65d4d8cdd2fe354c661f6b2e4557</string>
<key>PlayAds.bundle/AL_bukeh.png</key>
<string>779ba7f74943d0ddeaba243c03020589</string>
<key>PlayAds.bundle/AL_bukeh@2x.png</key>
<string>f6fcbfbeff4c8e8354c1fd1534cc3515</string>
<key>PlayAds.bundle/AL_glow.png</key>
<string>dff8ad9cff506b4514a5a1bfdae4e216</string>
<key>PlayAds.bundle/AL_glow@2x.png</key>
<string>8eae0a0f2fc039cd970787e3009759bc</string>
<key>PlayAds.bundle/AL_interstitial_button_shape.png</key>
<string>de316f6509b28c2c4aa7a5bb96303365</string>
<key>PlayAds.bundle/AL_scratch_gray.jpg</key>
<string>4d4e7304f951ecfa13a4c320f5a07ce6</string>
<key>PlayAds.bundle/AL_sdk_button.png</key>
<string>4ab47ebb0e59c11155615a8efc0ccf94</string>
<key>PlayAds.bundle/AL_sdk_button@2x.png</key>
<string>55827b9c0e03600c3826352e6e5133bf</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_down.png</key>
<string>d7a9d7dc01dac438fdf76e3dafc365d8</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_down@2x.png</key>
<string>120b1a5458af90050231bac063c28c51</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_ipad_down.png</key>
<string>39156f2219bb4f22a177fda9dbccd25c</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_ipad_down@2x.png</key>
<string>db99b07c995f2c0269bd1e4445bfc863</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_ipad_up.png</key>
<string>ca2a003c4660530487f75b437d71f8d9</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_ipad_up@2x.png</key>
<string>a38350e72017031bdc832709ea6f6d9d</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_up.png</key>
<string>e13a0c6a6906423c926489992f6fb0d2</string>
<key>PlayAds.bundle/AL_sdk_gameslist_button01_up@2x.png</key>
<string>afb312ede7556e55f5651f871f8a849e</string>
<key>PlayAds.bundle/AL_sdk_version_bg.png</key>
<string>81e1e558db775d5fafd1bdae561f7456</string>
<key>PlayAds.bundle/AL_sdk_version_bg@2x.png</key>
<string>86c529c7888154b586ef9619cbd871d2</string>
<key>PlayAds.bundle/AL_slotmachine_7.png</key>
<string>09985a737ce41f1696b53772ffcb3d11</string>
<key>PlayAds.bundle/AL_slotmachine_7@2x.png</key>
<string>25fd6c846c90fc0fefab16e41d15bcec</string>
<key>PlayAds.bundle/AL_slotmachine_banana.png</key>
<string>7647403857eac9afee30975398315774</string>
<key>PlayAds.bundle/AL_slotmachine_banana@2x.png</key>
<string>54f27cd850f4d3316b3e65ceab543515</string>
<key>PlayAds.bundle/AL_slotmachine_cherry.png</key>
<string>386f2718324867ce093318fd2011ce93</string>
<key>PlayAds.bundle/AL_slotmachine_cherry@2x.png</key>
<string>56f8353b1966eaa71bd1b47a535dda4b</string>
<key>PlayAds.bundle/AL_slotmachine_lightOFF.pdf</key>
<string>4a9b12818ceb38a39aa8a6dff1745588</string>
<key>PlayAds.bundle/AL_slotmachine_lightON.pdf</key>
<string>8cdb6672cadfc4e2e092cbc6e3e01a56</string>
<key>PlayAds.bundle/AL_slotmachine_machine.pdf</key>
<string>1e03dd6428cf398df140d5b2b3a6de28</string>
<key>PlayAds.bundle/AL_slotmachine_machine_landscape.pdf</key>
<string>26d0011386ff7073ef088d6696312e91</string>
<key>PlayAds.bundle/AL_slotmachine_pattern.jpg</key>
<string>214e14f80812a7ee6778eed1554fbc60</string>
<key>PlayAds.bundle/AL_slotmachine_SlotShadow.pdf</key>
<string>50f964216031a70c91ff461c4d9af74e</string>
<key>PlayAds.bundle/AL_slotmachineBtn.pdf</key>
<string>c975d525fda1ad723234eef04044562c</string>
<key>PlayAds.bundle/AL_slotmachineBtn1.pdf</key>
<string>d02d0019a7c7d1edfdbffe4a6d693f6e</string>
<key>PlayAds.bundle/AL_slotmachineBtn_gloss.pdf</key>
<string>cfcb121572d562a7aac73ca507d4c884</string>
<key>PlayAds.bundle/AL_slotmachineBtn_glossPressed.pdf</key>
<string>01b2e8f5b4a1a0d41ac7d498a0c368d7</string>
<key>PlayAds.bundle/ALapplift_bg.png</key>
<string>32f11077d02f0b7abd066f6f4483a8cf</string>
<key>PlayAds.bundle/ALapplift_bg@2x.png</key>
<string>44f2969eabfa2541f69abcfbb1504377</string>
<key>PlayAds.bundle/ALCloseIcon.png</key>
<string>8c2954bc85faa235d617ce29dc3e2576</string>
<key>PlayAds.bundle/ALCloseIcon@2x.png</key>
<string>eaa89d4ec3b6ce6b5fcfcc45c7731272</string>
<key>PlayAds.bundle/ALCloseIconBlue.png</key>
<string>e8850469edbf6b3e722b6ca8546dbf69</string>
<key>PlayAds.bundle/ALCloseIconBlue@2x.png</key>
<string>c9a8bff3513e49796a862d3bf4b0b89a</string>
<key>PlayAds.bundle/ALinfobutton.png</key>
<string>7c3b892b88fb79250cc91142065a479b</string>
<key>PlayAds.bundle/ALinfobutton@2x.png</key>
<string>edfa4be99b86b027789e8a4328582695</string>
<key>PlayAds.bundle/ALstarshine.png</key>
<string>f26d6401c0fc252a8f34b145be53a4ee</string>
<key>PlayAds.bundle/ALstarshine@2x.png</key>
<string>0f9fb3150d22b03b1c94917c95cead93</string>
<key>PlayAds.bundle/ALTopDealInfoBubble.png</key>
<string>0614a0371cf2e1bf6c5c3b8f5c0dda3b</string>
<key>PlayAds.bundle/ALTopDealInfoBubble@2x.png</key>
<string>b14a0477a32bd86b07031c7c850b6929</string>
<key>PlayAds.bundle/AppLiftApisDescriptor.plist</key>
<string>d8d2b59445da322c91416dc8354fa352</string>
<key>PlayAds.bundle/Defaults.plist</key>
<string>00ad0a9a11ccb83b4f459f8d7f3e987e</string>
<key>PlayAds.bundle/dotim.ttf</key>
<string>a5269ffd8227f6e2703d3f52db8c197a</string>
<key>PlayAds.bundle/Info.plist</key>
<string>1f9729a3e3aea462d565d4707ccb30a2</string>
<key>PlayAds.bundle/PASDKCoverFlowViewController~ipad.nib/objects-8.0+.nib</key>
<string>ee680ce04946e1476a646de9e815f3da</string>
<key>PlayAds.bundle/PASDKCoverFlowViewController~ipad.nib/runtime.nib</key>
<string>60405c4c476aeac322421094d39371b0</string>
<key>PlayAds.bundle/PASDKCoverFlowViewController~iphone.nib/objects-8.0+.nib</key>
<string>f99e370fcbb20cd536c7dbbd6d6f427c</string>
<key>PlayAds.bundle/PASDKCoverFlowViewController~iphone.nib/runtime.nib</key>
<string>dca58d87adc04afdb95cda39f5284048</string>
<key>PlayAds.bundle/PASDKGameListCellDouble~ipad.nib/objects-8.0+.nib</key>
<string>8b088fc7b5ba96e577b826810427b1eb</string>
<key>PlayAds.bundle/PASDKGameListCellDouble~ipad.nib/runtime.nib</key>
<string>8dbbc9e1e4a48bd849ecda01eb1e1103</string>
<key>PlayAds.bundle/PASDKGameListCell~ipad.nib/objects-8.0+.nib</key>
<string>fb2d3aed58d697dd84d8fe7846dba5d2</string>
<key>PlayAds.bundle/PASDKGameListCell~ipad.nib/runtime.nib</key>
<string>0480925b4c1cd354f24c1a5dff93407d</string>
<key>PlayAds.bundle/PASDKGameListCell~iphone.nib/objects-8.0+.nib</key>
<string>ec6ebc695dd2b3a7e490c38e70bb2554</string>
<key>PlayAds.bundle/PASDKGameListCell~iphone.nib/runtime.nib</key>
<string>ae6fb81e8e1416b7dd7948843bc1e02c</string>
<key>PlayAds.bundle/PASDKGameListFeaturedCellLandscape~ipad.nib/objects-8.0+.nib</key>
<string>20bad1303cc5e8a7f21320838b0141ca</string>
<key>PlayAds.bundle/PASDKGameListFeaturedCellLandscape~ipad.nib/runtime.nib</key>
<string>65677b61496dafc184bf3d1a29d1726e</string>
<key>PlayAds.bundle/PASDKGameListFeaturedCell~ipad.nib/objects-8.0+.nib</key>
<string>a776a749410dd769b5bb515ed695d6b1</string>
<key>PlayAds.bundle/PASDKGameListFeaturedCell~ipad.nib/runtime.nib</key>
<string>c8a24d717e43026deba3aed49493c183</string>
<key>PlayAds.bundle/PASDKGameListViewController~ipad.nib/objects-8.0+.nib</key>
<string>afe276cdbe0006efde62075c74e2e1f9</string>
<key>PlayAds.bundle/PASDKGameListViewController~ipad.nib/runtime.nib</key>
<string>f66b55d344af2aca7fcd596e37cf008e</string>
<key>PlayAds.bundle/PASDKGameListViewController~iphone.nib/objects-8.0+.nib</key>
<string>2f8cde70a38d82d766be96222f9975b7</string>
<key>PlayAds.bundle/PASDKGameListViewController~iphone.nib/runtime.nib</key>
<string>b73c4da37c7f5b7445fb53ad3e664ea8</string>
<key>PlayAds.bundle/PASDKLayoutViewController~ipad.nib/objects-8.0+.nib</key>
<string>281e3aea8d27deea056b767763f799b2</string>
<key>PlayAds.bundle/PASDKLayoutViewController~ipad.nib/runtime.nib</key>
<string>2ae2ffd7262b9c42d639a85329e01a9d</string>
<key>PlayAds.bundle/PASDKLayoutViewController~iphone.nib/objects-8.0+.nib</key>
<string>b7a3a57cd3d16917f9e8e8f09cf21275</string>
<key>PlayAds.bundle/PASDKLayoutViewController~iphone.nib/runtime.nib</key>
<string>0cee0fb813c77f1586bc38a4590b9e59</string>
<key>PlayAds.bundle/PASDKMemoryViewController~ipad.nib/objects-8.0+.nib</key>
<string>a797823f62805809ce91eea54148344b</string>
<key>PlayAds.bundle/PASDKMemoryViewController~ipad.nib/runtime.nib</key>
<string>0b1fde61632525b68f09d8d20d786026</string>
<key>PlayAds.bundle/PASDKMemoryViewController~iphone.nib/objects-8.0+.nib</key>
<string>76ea9f4dcf25cfb13af62c20c33fcd24</string>
<key>PlayAds.bundle/PASDKMemoryViewController~iphone.nib/runtime.nib</key>
<string>0c4624b0fdc885db11fe2cc1e926a29b</string>
<key>PlayAds.bundle/PASDKScratchViewController~ipad.nib/objects-8.0+.nib</key>
<string>de9d3e37ccf80f6eb0f37355fa0a0955</string>
<key>PlayAds.bundle/PASDKScratchViewController~ipad.nib/runtime.nib</key>
<string>ba07b8b087a99bcedcaebce7ca84637d</string>
<key>PlayAds.bundle/PASDKScratchViewController~iphone.nib/objects-8.0+.nib</key>
<string>7be7619f2fa6169ad07f053f0234d5b8</string>
<key>PlayAds.bundle/PASDKScratchViewController~iphone.nib/runtime.nib</key>
<string>62d086466637ea775e019b525e92d6bd</string>
<key>PlayAds.bundle/PASDKSlotMachineViewController~ipad.nib/objects-8.0+.nib</key>
<string>5eb32a9cf0811b64a734b1622d2817c5</string>
<key>PlayAds.bundle/PASDKSlotMachineViewController~ipad.nib/runtime.nib</key>
<string>5eb32a9cf0811b64a734b1622d2817c5</string>
<key>PlayAds.bundle/PASDKSlotMachineViewController~iphone.nib/objects-8.0+.nib</key>
<string>d5c0298aa553e3f971a8ae04949eb7ba</string>
<key>PlayAds.bundle/PASDKSlotMachineViewController~iphone.nib/runtime.nib</key>
<string>d5c0298aa553e3f971a8ae04949eb7ba</string>
<key>vg_close.png</key>
<string>0dfa37b61525948fca47061655adb7d7</string>
<key>vg_cta.png</key>
<string>1327a5776643daf8d8ab16b7e24bddba</string>
<key>vg_mute_off.png</key>
<string>7e0f9e9cf0b3e209e5ab78d75a5a9ae5</string>
<key>vg_mute_on.png</key>
<string>f534b0cd00b3bdf69680ac4822a1ed9b</string>
<key>vg_timer.png</key>
<string>d345aa4c680bc888ad3dfbd70d6ce0ca</string>
</dict>
</plist>
